
 </div>
</body>
<footer>
    <div class="footer" id="footer">
      <p>MADE FOR FUN BY DEV IRAIVA </p>
      <a class="icon footer-link" href="https://twitter.com/PiyushV78107699"><i class="fab fa-twitter "></i></a>
      <a class="icon footer-link" href="https://www.instagram.com/dev_iraiva/"><i class="fab fa-instagram"></i></a>
      <a class="icon footer-link" href="https://www.linkedin.com/in/piyush-verma-7a2510203/"><i class="fab fa-linkedin-in"></i></a>
      <a class="icon footer-link" href="mailto:piyushvermaco@gmail.com"><i class="fas fa-envelope"></i></a>
    </div>
</footer>


</html>
